In [20]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
import missingno as msno
import pandas_profiling
from sklearn.ensemble import RandomForestClassifier, GradientBoostingRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_squared_error
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline 
from sklearn.linear_model import Lasso, LinearRegression, Ridge, ElasticNet
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import KFold
#from sklearn.externals import joblib
import joblib
import pickle

import sqlalchemy as db
from sqlalchemy import create_engine, ForeignKey
from sqlalchemy import Column, Date, Integer, String
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import relationship, backref
from sqlalchemy.orm import sessionmaker
import os

%matplotlib inline
# Customise plots
mpl.rcParams['font.sans-serif'] = "Arial"
mpl.rcParams['font.family'] = "sans-serif"
mpl.rcParams['xtick.labelsize'] = 12
mpl.rcParams['ytick.labelsize'] = 12
mpl.rcParams['axes.titlesize'] = 16
mpl.rcParams['axes.labelsize'] = 12

# Load MYSql connector 
SQL_USR, SQL_PSW= os.environ['SQL_USR'], os.environ['SQL_PSW']
mysql_str = 'mysql+mysqlconnector://'+SQL_USR+':'+SQL_PSW+'@localhost:3306/'
engine = db.create_engine(mysql_str+'Housing')

# Load database diamonds
con=engine.connect()
df_size=con.execute('SELECT COUNT(*) FROM housing;').fetchall()[0][0]
print('Dataframe size: {}'.format(df_size))

# Load data
df = pd.read_sql('SELECT * FROM housing;', engine).drop('id', axis=1)
df.drop('index', axis=1, inplace=True)

# Select category(number columns)
col_features = df.drop('target', axis=1).columns.tolist()


df.head()

Dataframe size: 506

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,target
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

+ CRIM: Per capita crime rate by town
+ ZN: Proportion of residential land zoned for lots over 25,000 sq. ft
+ INDUS: Proportion of non-retail business acres per town
+ CHAS: Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)
+ NOX: Nitric oxide concentration (parts per 10 million)
+ RM: Average number of rooms per dwelling
+ AGE: Proportion of owner-occupied units built prior to 1940
+ DIS: Weighted distances to five Boston employment centers
+ RAD: Index of accessibility to radial highways
+ TAX: Full-value property tax rate per 10,000 dollars
+ PTRATIO: Pupil-teacher ratio by town
+ B: 1000(Bk â€” 0.63)^2, where Bk is the proportion of (people of African American descent) by town
+ LSTAT: Percentage of lower status of the population
+ MEDV: Median value of owner-occupied homes in 1000s dollars

In [21]:
# Generate Auto profiling
print('\nAutoprofiling:')
print('-'*30)
if not os.path.exists('../report/housing_report.html'):
    profile = df.profile_report(title='Pandas Profiling Report')
    profile.to_file(output_file='../report/housing_report.html')
print('Done.')

Autoprofiling:
------------------------------
Done.

In [22]:
# Null values
print('NaN in the dataset')
print('-'*30)
for col in num_columns:
    n_nan = df[col].isnull().sum()
    print('{0}: {1}'.format(col, n_nan))

NaN in the dataset
------------------------------
crim: 0
zn: 0
indus: 0
chas: 0
nox: 0
rm: 0
age: 0
dis: 0
rad: 0
tax: 0
ptratio: 0
b: 0
lstat: 0
target: 0

In [23]:
df.describe()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,target
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [ ]:
# Numeric features distribution
colors = sns.color_palette("deep")
fig,axes = plt.subplots(len(col_features), 2, figsize = (12,30))
for idx, col in enumerate(col_features):
    sns.boxplot(y= df[col], color = colors[0], ax = axes[idx, 0])
    sns.distplot(df[col], color = colors[0], ax = axes[idx, 1])

plt.tight_layout(rect=[0, 0.03, 1, 0.95])
plt.savefig('../images/numeric_distribution.png', dpi=300)
plt.show()

In [ ]:
# Check correlations
print('\nCorrelation:')
print('-'*30)
corr = df.corr(method='pearson')
mask = np.zeros_like(corr, dtype=np.bool)
mask[np.triu_indices_from(mask)] = True

plt.figure(figsize=(10, 8))
ax = sns.heatmap(
    corr, 
    vmin=-1, vmax=1, center=0,
    cmap=sns.diverging_palette(20, 220, n=200),
    square=True,
    annot=True,\
    fmt='.1g',\
    mask=mask
)
ax.set_xticklabels(
    ax.get_xticklabels(),
    rotation=45,
    horizontalalignment='right'
)
plt.savefig('../images/correlation.png', dpi=300)
plt.show()

print('\nCorrelation with the target:')
print('-'*30)
print(df.corr()['target'].sort_values(ascending=False))